%ul
  - if user_signed_in?
    %li
      Logged in as
      = current_user.name
    %li
      = link_to('Logout', signout_path)
  - else
    %li
      = link_to('Login', signin_path)
%ul
  %li= link_to 'Home', root_path 
  %li= link_to 'Feeds', feeds_path 
  %li= link_to 'Entries', entries_path 
  %li= link_to 'Corpus Items', corpus_items_path
  %li= link_to 'Domains', domains_path
  %li= link_to 'Links', links_path
  %li= link_to 'Link Filters', link_filters_path
  %li= link_to 'Output', outputs_path
