.corpus_item_list
  .corpus_item_header
    %span.corpus_item_cell Title
    %span.corpus_item_cell Source Type
    %span.corpus_item_cell Source
  - corpus_items.each do |corpus_item|
    .corpus_item
      %span.corpus_item_cell= link_to corpus_item.title, corpus_item
      %span.corpus_item_cell= corpus_item.source['type']
      - if corpus_item.source['type'] == 'rss'
        %span.corpus_item_cell= link_to corpus_item.source_obj.title, entry_path(corpus_item.source_obj)
      - elsif corpus_item.source['type'] == 'link'
        %span.corpus_item_cell= link_to 'Link', link_path(corpus_item.source_obj)
      %span.corpus_item_cell= link_to 'Edit', edit_corpus_item_path(corpus_item)
      %span.corpus_item_cell= link_to 'Destroy', corpus_item, method: :delete, data: { confirm: 'Are you sure?' }
