%table
  %tr
    %th Selector
    %th Match Text
    %th Contains Text
    %th Action
  - feed_clean_actions.each do |clean_action|
    %tr
      %td
        %code= clean_action["selector"]
      %td
        - if clean_action.attributes.include? "match_text"
          %code= "\"#{clean_action.match_text}\""
        - else
          N/A
      %td
        - if clean_action.attributes.include? "contains_text"
          %code= "\"#{clean_action.contains_text}\""
        - else
          N/A
      %td= clean_action.task
      %td= link_to "Show", feed_clean_action_path(feed, clean_action)
      %td= link_to "Edit", edit_feed_clean_action_path(feed, clean_action)
      %td= link_to "Destroy", feed_clean_action_path(feed, clean_action), method: :delete, data: { confirm: 'Are you sure?' }
= link_to "New", new_feed_clean_action_path(feed)
