%div
  %h3= @feed.title
  #feed_info.info_table
    = info_row 'Name', @feed.name
    = info_row 'Subtitle', @feed.subtitle
    = info_row 'URL', @feed.url
    = info_row 'Link', @feed.link
  %h3 Feed Entries
  = render partial: 'entries/list', locals: {entries: @feed.entries.desc(:published), exclude_feed_name: true}
//       %span= entry.attributes
= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
