%div
  %h3= @feed.title
  #feed_info.info_table
    = info_row 'Name', @feed.name
    = info_row 'Subtitle', @feed.subtitle
    = info_row 'URL', @feed.url
    = info_row 'Link', @feed.link
    - if @feed.clean_actions.length > 0
      .info_row
        %span.info_title Clean Actions
        .info_value
          = render partial: 'feed_clean_actions/list', locals: {feed_clean_actions: @feed.feed_clean_actions}
  %h3 Feed Entries
  = render partial: 'entries/list', locals: {entries: @feed.entries.desc(:published).limit(100), exclude_feed_name: true}
= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
