%div
  %h3= @entry.title
  #entry_info
    = info_row 'Feed', link_to(@entry.feed.name, feed_path(@entry.feed))
    = info_row 'Published', @entry.published
    = info_row 'Updated', @entry.updated
    = info_row 'Author', @entry.author
    = info_row 'RSS ID', @entry.entry_id
    = info_row 'Link', @entry.link
    - if !@entry.corpus_item.nil?
      = info_row 'Corpus Item', link_to(@entry.corpus_item.id, @entry.corpus_item)
    - if @entry.attributes.include? "content"
      .info_row
        %span.info_title Content
        .info_value
          - @entry.content.each do |item|
            .info_table
              - item.each do |k, v|
                = info_row k, v
    - if @entry.attributes.include? "summary"
      = info_row 'Summary', @entry.summary
    .info_row
      %span.info_title Attrs
      .info_value
        .info_table
          - @entry.filter_attributes(["author", "author_detail", "feed", "feed_name", "published", "_id", "id", "updated", "corpus_item", "content", "link", "title"]).each do |attr, value|
            = info_row attr, value

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path
